@use "../abstracts/variables" as *;

/* FrameNet Entity Colors */
.color-frame {
    color: $red-700 !important;
    fill: $red-700 !important;
    stroke: $red-700 !important;
    border-color:  $red-700 !important;
}

.color-lu {
    color: $blue-900 !important;
    fill: $blue-900 !important;
    stroke: $blue-900 !important;
    border-color:  $blue-900 !important;
}

.color-construction {
    color: $green-900 !important;
    fill: $green-900 !important;
    stroke: $green-900 !important;
    border-color:  $green-900 !important;
}

.color-semantictype {
    color: $yellow-600 !important;
    fill: $yellow-600 !important;
    stroke: $yellow-600 !important;
    border-color:  $yellow-600 !important;
}

.color-qualia {
    color: $yellow-600 !important;
    fill: $yellow-600 !important;
    stroke: $yellow-600 !important;
    border-color:  $yellow-600 !important;
}

.color-concept {
    color: $yellow-600 !important;
    fill: $yellow-600 !important;
    stroke: $yellow-600 !important;
    border-color:  $yellow-600 !important;
}

.color-target {
    color: white !important;
    background-color: black !important;
}

.color-qla-agentive {
    color: $pink-500 !important;
}

.color-qla-agentive--text {
    color: $pink-500 !important;
}

.color-qla-context {
    color: $yellow-800 !important;
}
.color-qla-context--text {
    color: $yellow-800 !important;
}

.color-qla-telic {
    color: $teal-300 !important;
}
.color-qla-telic--text {
    color: $teal-300 !important;
}


.color-qla-constitutive {
    color: $green-500 !important;
}
.color-qla-constitutive--text {
    color: $green-500 !important;
}

.color-qla-formal {
    color: $purple-800 !important;
}

.color-qla-formal--text {
    color: $purple-800 !important;
}


.color-generic {
    color: $cyan-900 !important;
}

.color-lexicon {
    color: $blue-900 !important;
}

.color-corpus {
    color: $bluegray-400 !important;
}
.color-document {
    color: $bluegray-400 !important;
}

.color-constraint {
    color: $purple-800 !important;
}

.color-concept-cxn {
    color: $green-900 !important;
    fill: $green-900 !important;
    stroke: $green-900 !important;
}

.color-concept-str {
    color: $orange-600 !important;
    fill: $orange-600 !important;
    stroke: $orange-600 !important;
}

.color-concept-inf {
    color: $purple-800 !important;
    fill: $purple-800 !important;
    stroke: $purple-800 !important;
}

.color-concept-sem {
    color: $red-600 !important;
    fill: $red-600 !important;
    stroke: $red-600 !important;
}

.color-concept-def {
    color: $blue-800 !important;
    fill: $blue-800 !important;
    stroke: $blue-800 !important;
}





