.wt-icon {
    height: 16px;
    width: 16px;
    display:inline-block;
    font-size: 16px;
    vertical-align: top;
    padding: 1px;
}

.wt-material-icon {
    height: 16px;
    width: 24px;
    display: inline-block;
    font-size: 16px;
    vertical-align: top;
    padding: 4px;
}
