.btnBack {
    display: none;
}

@media only screen and (max-width: 1023px) {
    .btnBack {
        display: inline-block;
    }
}

#domainTableContainer {
    margin-bottom: 0px;

    table {
        border-spacing: 0px;
        width: 100%;
        flex-grow: 0;
        table-layout: fixed;
        position: absolute;
        top: 0px;
        bottom: 0;
        left: 0;
        right: 0;
    }

    tr {
        width: 100%;
    }

    td {
        padding: 4px;
        word-wrap: break-word;
        width: 100%;
    }

    tr:nth-child(even) {
        background-color: #EEE;
    }

    tr:hover {
        background-color: #dbdbdb;
    }
}

#frameTableContainer {
    margin-bottom: 0px;

    table {
        border-spacing: 0px;
        width: 100%;
        flex-grow: 0;
        table-layout: fixed;
        position: absolute;
        top: 0px;
        bottom: 0;
        left: 0;
        right: 0;
    }

    tr {
        width: 100%;
    }

    td {
        padding: 4px;
        word-wrap: break-word;

        &.name {
            width: calc(100% - 4rem);
        }
        &.edit {
            width: 4rem;
        }
    }

    tr:nth-child(even) {
        background-color: #EEE;
    }

    tr:hover {
        background-color: #dbdbdb;
    }

    .definition {
        color: $wt-text-color;
        font-size: 0.75rem;
    }
}

#feluTableContainer {
    margin-bottom: 0px;
    table {
        border-spacing: 0px;
        width: 100%;
        flex-grow: 0;
        table-layout: fixed;
        position: absolute;
        top: 0px;
        bottom: 0;
        left: 0;
        right: 0;
    }

    tr {
        width: 100%;
    }

    td {
        padding: 4px;
        word-wrap: break-word;
        width: 100%;

        .definition {
            color: $wt-text-color;
            font-size: 0.75rem;
        }
    }

    tr:nth-child(even) {
        background-color: #EEE;
    }

    tr:hover {
        background-color: #dbdbdb;
    }



}

.frameReport__card {
    margin-bottom: 8px;

    code {
        color: $wt-text-color;
        font-size: 0.875rem;
        font-weight: 500;
    }

    .frameReport__card--internal {
        .card-header {
            background-color: #EEE;
        }
    }
}

.frameReport__table {
    border-spacing: 8px;
}



