.wt-form {

    overflow: hidden;
    text-align: left;
    margin: 0;
    height:100%;
    @extend %component-border;

    form {
        display: flex;
        flex-direction: column;
        height:100%;

        .form-header {
            position: relative;
            @extend %component-header;
        }

        .form-fields {
            flex: 1;
            @extend %padding-mini;

            .textbox {
                @extend %padding-micro;
                width: calc(100% - 0.5rem) !important;
            }

            input[type='checkbox'] {
                width: 2rem !important;
                margin: 0.5rem 0 0 0;
            }
        }


        .form-toolbar {

            .l-btn-text {
                font-size: 0.875em !important;
            }

        }

        .form-buttons {
            @extend %padding-micro;
        }

        .form-field {
            margin-bottom: 0.5rem;

            label {
                display: block;
                font-size: 0.875rem;
                margin-bottom: 0.125rem;
                font-weight:500;
            }
        }
    }
}

.wt-form-noborder {
    border: 0 !important;
}

.wt-form-search {
    margin-bottom: 0.5rem;
    .form-field {
        //margin-bottom: 0.5rem;
        margin-right: 0.5rem;
    }

    button {
        //margin-bottom: 0.5rem;
        margin-right: 0.5rem;
    }

    .hx-search-control button {
        padding:0;
    }

}
