.feAnnotationPane {
    display: flex;
    flex-flow: column;
    height: 100%;
    gap: 0.5rem;

    .header {
        display: flex;
        flex-flow: row;

        .tag {
            text-align: left;
            padding-left: 1rem;
        }

        .navigation {
            text-align: right;
            flex-grow: 1;

            .previous {
                display: inline-block;

            }

            .next {
                display: inline-block;

            }

            a {
                display: inline;
                font-size: 14px;
                text-decoration: none;
                color: var(--wt-text-color);
                font-weight: 600;
            }
        }
    }

    .annotations {
            flex-grow: 1;
            display: flex;
            flex-flow: column;
            gap: 0.5rem;

            .hasLU {
                cursor: pointer;
            }

            .hasAS {
                cursor: pointer;
                border: 0;
                color: white !important;
                background-color: $grey-10 !important;
            }

            .workArea {
                .word {
                    display: inline-block;
                    position: relative;
                    z-index: 1;
                }

                .word::selection {
                    background-color: #ffe184;
                }

                .target {
                    color: #FFFFFF !important;
                    background-color: #222 !important
                }

                .hasFE {
                    font-weight: 600;
                }
                .rowWord {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: left;
                    height: auto;
                    margin-bottom: 2rem;
                    font-family: "Noto Sans Mono", monospace;
                    font-optical-sizing: auto;
                    font-style: normal;
                    font-variation-settings:
                        "wdth" 75;


                    .colWord {
                        font-size: 1.25rem;
                        padding: 0 6px;
                    }
                }

                .line {
                    top: 30px;
                    left: -1px;
                    width: calc(100% + 4px);
                    height: 3px;
                    position: absolute;
                    background: black;
                    z-index: 1;
                }

                .feLabel {
                    top: 32px;
                    left: -1px;
                    padding: 2px 3px;
                    z-index: 10;
                    position: absolute;
                    font-size: 0.6em;
                    background: black;
                    font-weight: bold;
                    font-family: "Roboto Condensed", "Arial Narrow", sans-serif;
                    line-height: 1;
                    border-radius: 1px;
                    //text-transform: uppercase;
                }

                .rowNI {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: left;
                    height: auto;
                    margin-bottom: 2rem;

                    .colNI {
                        cursor: pointer;
                        width: 8rem;

                        .ni {
                            font-weight: bold;
                            padding: 0 2px;
                            display: inline-block;
                            position: relative;
                            z-index: 1;

                            .line {
                                width: 8rem;
                            }
                        }

                    }
                }

                .rowFE {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: left;

                    .colFE {
                        position: relative;
                        margin: 0 0.5rem 0.5rem 0;

                        button {
                            border: 0;
                        }
                    }
                }

            }
    }


    //a {
    //    display: inline;
    //    font-size: 14px;
    //    text-decoration: none;
    //    color: var(--wt-text-color);
    //    font-weight: 600;
    //}
    //
    //
    //
    //.container {
    //    width: 100%;
    //    display: flex;
    //    flex-direction: row;
    //    font-size: 20px;
    //    padding: 1rem;
    //    flex-wrap: wrap;
    //    line-height: 2;
    //}
    //
    //.c01301 {
    //    width: 100%;
    //    font-size: 20px;
    //    word-wrap: break-word;
    //    /*white-space: pre-wrap;*/
    //}
    //
    //.c01291 {
    //    padding: 20px;
    //    line-height: 2;
    //}
    //
    //.c01348 {
    //    /*margin: 0 1px;*/
    //    display: inline-block;
    //    position: relative;
    //}
    //
    //.c01338 {
    //    border-top-left-radius: 3px;
    //    border-bottom-left-radius: 3px;
    //}
    //
    //.line {
    //    top: 30px;
    //    left: -1px;
    //    width: calc(100% + 4px);
    //    height: 3px;
    //    position: absolute;
    //    background: black;
    //    z-index: 1;
    //}
    //
    //.label {
    //    top: 32px;
    //    left: -1px;
    //    padding: 2px 3px;
    //    z-index: 10;
    //    position: absolute;
    //    font-size: 0.6em;
    //    background: black;
    //    font-weight: bold;
    //    font-family: "Roboto Condensed", "Arial Narrow", sans-serif;
    //    line-height: 1;
    //    border-radius: 1px;
    //    //text-transform: uppercase;
    //}
    //
    //.word {
    //    /*margin: 0 2px;*/
    //    padding: 0 2px;
    //    display: inline-block;
    //    position: relative;
    //    z-index: 1;
    //}
    //
    //.word::selection {
    //    background-color: #ffe184;
    //}
    //
    //.target {
    //    color: #FFFFFF !important;
    //    background-color: #222 !important
    //}
    //
    //.hasFE {
    //    font-weight: 600;
    //}
    //

    //
    //#workArea {
    //    padding: 1rem;
    //
    //    .wt-card {
    //        padding-bottom: 1rem;
    //
    //        .hxRow > .rowMWE {
    //            flex-grow: 0;
    //
    //            .colMWE {
    //                margin-left: 1rem;
    //            }
    //
    //        }
    //
    //        .rowWord {
    //            display: flex;
    //            flex-direction: row;
    //            flex-wrap: wrap;
    //            justify-content: left;
    //            height: auto;
    //            margin-bottom: 2rem;
    //
    //            .colWord {
    //                font-size: 20px;
    //            }
    //        }
    //
    //        .rowNI {
    //            display: flex;
    //            flex-direction: row;
    //            flex-wrap: wrap;
    //            justify-content: left;
    //            height: auto;
    //            margin-bottom: 2rem;
    //
    //            .colNI {
    //                cursor: pointer;
    //                width: 8rem;
    //
    //                .ni {
    //                    font-weight: bold;
    //                    padding: 0 2px;
    //                    display: inline-block;
    //                    position: relative;
    //                    z-index: 1;
    //
    //                    .line {
    //                        width: 8rem;
    //                    }
    //                }
    //
    //            }
    //        }
    //
    //        .rowFE {
    //            display: flex;
    //            flex-direction: row;
    //            flex-wrap: wrap;
    //            justify-content: left;
    //
    //            .colFE {
    //                position: relative;
    //
    //                button {
    //                    border: 0;
    //                }
    //
    //                .btnDelete {
    //                    position:relative;
    //                    top: 1px;
    //                    width:24px;
    //                    height:32px;
    //                    border-top: 1px solid;
    //                    border-right: 1px solid;
    //                    border-bottom: 1px solid;
    //                    margin-left:-5px;
    //
    //                    .wt-button-icon {
    //                        margin-right: 0px;
    //                    }
    //                }
    //
    //            }
    //        }
    //
    //    }
    //}
}

