.dynamicAnnotationPane {

    display: flex;
    flex-flow: row;
    height:100%;

    .west {
        display: flex;
        flex-flow: column;
        height:100%;

        .video {
            width: 880px;
            height: 560px;
            box-sizing: border-box;
            padding: var(--wt-unit);

            .vjs-control-bar {
                bottom: -30px;
                opacity: 1 !important;
                display: flex !important;
            }

            .vjs-playback-rate {
                z-index: 10;
            }

            .info {
                height: 32px;
                line-height: 32px;
                background-color: var(--wt-bg-pane-nav);
                width: 852px;
                margin-top: 30px;
            }
        }

        .controls {
            padding: var(--wt-mini-unit);

            .btn-video {
                font-size: 1.8em;
                line-height: 1.67;
            }

            .btn-control {
                border: 0px;
                color: white;
                cursor:pointer;

                .label {
                    color: white;
                }

            }


            .btn-control:disabled {
                border: 0px;
                background-color: var(--wt-grey-4);
                color: var(--wt-grey-8);
                cursor:default;

                .label {
                    color: var(--wt-grey-8);
                }
            }

            .btn-option {
                border: 0px;
                color: white;
                cursor:pointer;

                .label {
                    color: white;
                }

            }


            .btn-option:disabled {
                border: 0px;
                background-color: var(--wt-grey-4);
                color: var(--wt-grey-8);
                cursor:default;

                .label {
                    color: var(--wt-grey-8);
                }
            }
            .label {
                line-height:18px;
            }

        }

        .comment {
            flex-grow: 1;
        }
    }

    .center {
        flex-grow: 1;
        display: flex;
        flex-flow: column;

        .header {
            display: flex;
            flex-flow: row;

            .tag {
                text-align: left;
                padding-left: 1rem;
            }
            .navigation {
                text-align: right;
                flex-grow: 1;

                .previous{
                    display: inline-block;

                }
                .next {
                    display: inline-block;

                }

                a {
                    display: inline;
                    font-size: 14px;
                    text-decoration: none;
                    color: var(--wt-text-color);
                    font-weight: 600;
                }
            }
        }

        .annotation {

        }

    }

    .bbox {
        border: 1px solid #D3D3D3;
        position: absolute;
        z-index: 3;
        box-sizing: border-box;

        .objectId {
            /*width: 20px;*/
            height: 14px;
            line-height: 14px;
            font-size: 12px;
            font-weight: bold;
            background-color: white;
            left: -2px;
            top: -2px;
            position: absolute;
            color: black;
            cursor: pointer;
            padding: 2px;
        }

    }

    .bboxhighlight {
        opacity: 1 !important;
    }

    .handle, .ui-resizable-handle {
        width: 11px;
        height: 11px;
        border-radius: 50%;
        border: 1px solid #D3D3D3;
        background-color: rgba(255, 255, 0, .05);
        position: absolute;
    }

    .center-drag {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        cursor: move;
    }


}
