/*
 Color elements
 */

.color_target {
    color: #FFF;
    background-color: #000 !important;
}

.color_frame {
    color: $wt-frame-color;
    fill: $wt-frame-color;
    stroke: $wt-frame-color;
}

.color_frame--text {
    fill: white;
}

.color_qla_agentive--text {
    color: var($wt-qualia-agentive-color);
}

.color_qla_constitutive--text {
    color: var($wt-qualia-constitutive-color);
}

.color_qla_context--text {
    color: var($wt-qualia-context-color);
}

.color_qla_formal--text {
    color: var($wt-qualia-formal-color);
}

.color_qla_telic--text {
    color: var($wt-qualia-telic-color);
}

.color_generic {
    color: var($wt-master-color);
}

.color_lexicon {
    color: var($wt-lexicon-color);
}

.color_corpus {
    color: $wt-corpus-color;
}
